[data-page='creator']
	
	.main-content
		background $grey
		overflow auto

		.profile-wrapper
			margin 30px
			padding 50px
			background white
			box-shadow 0 0 2px black
			position relative
			
			.action-button
				position absolute
				left 0
				top 0
				background linear-gradient(to right, #97A0D1, #D48F89)
				padding 15px
				cursor pointer
				
				
			// .profile-info
			// 	.image
			// 	h2.name
			// 	p.description
			// 	.location
			// 		.location-symbol
			// 		h3.location-name
			// 	.skills
			// 		h4.title
			// 		.wrapper
			// 			.skill
			// 	.projects
			// 		h4.title
			// 		.wrapper	
			// 			.project
			// 				.title
			// 				.description
			// 				.link	
		