[data-page='home']
	
	.main-content
		color white
		
		header
			padding 200px 0
			text-align center
			position relative
			overflow hidden
			box-shadow 0 0 50px rgba(black, .35)
			@media (max-width: 500px)
				padding 150px 0
			
			video
				position absolute
				width 100%
				transform translate(-50%, -50%) scale(1.03)
				top 50%
				left 50%
				z-index -1
				@media(max-width 1370px)
					height 100%
					width auto			
				
			.title
				width 80%
				max-width 1000px
				margin 35px auto
				margin-bottom 50px
				cursor default
				font-weight lighter
				
				strong
					font-weight initial
				
			.signup-wrapper
				width 90%
				max-width 600px
				margin auto
				border-radius 5px
				overflow hidden
				display flex
				flex-direction row
				align-items stretch
				
				@media (max-width: 500px)
					flex-direction column
				
				input
					padding 15px 30px
					border none
					flex 1
					font-size 105%
					
				.submit-btn
					background $maingradient
					padding 15px
					cursor pointer
					
			.status
				position absolute
				width 100%
				top 30px
				font-size 160%
				font-weight initial
				opacity .8
				cursor default
				
				@media (max-width: 500px)
					font-size 130%
					
			a.video-link
				position absolute
				transform translateX(-50%)
				bottom 30px
				left 50%
				color white
				font-size 140%
				text-decoration none
				opacity .8
				@media(max-width: 500px)
					font-size 90%
				
				img
					vertical-align middle
					height 20px
					margin-right 7px
					display inline-block
					@media(max-width: 500px)
						height 15px
					
				div
					font-weight lighter
					vertical-align middle
					display inline-block

		section
			background #252525
			padding 140px 0
			text-align center
			position relative
			@media (max-width: 500px)
				display flex
				flex-direction column
				padding 100px 0
				&:nth-child(4)
					flex-direction column-reverse

			h3
				margin-bottom 40px
				display inline-block
				position relative
				@media(max-width: 500px)
					font-size 150%
				
			.section-headline::after
				content ''
				position absolute
				bottom -10px
				left 50%
				transform translateX(-50%)
				height 2px
				width 70%
				background $maingradient
				margin auto
				margin-top 15px
				
			p
				width 80%
				max-width 1000px
				margin auto
				opacity .8
				@media(max-width: 500px)
					font-size 100%
			
			li
				list-style-type disc
				display list-item
				margin-bottom 5px
				opacity .8
				@media(max-width: 500px)
					font-size 100%
				
			.images
				display inline-block
				width 40%
				vertical-align middle
				margin-right 50px
				@media (max-width: 500px)
					width 60%
					margin auto
					margin-bottom 20px
				&:nth-child(even)
					margin-right 0
					margin-left 50px
					@media (max-width: 500px)
						margin auto
				
				img
					position relative
					width 100%
					
			article
				display inline-block
				width 40%
				vertical-align middle
				
				@media (max-width: 500px)
					width 80%
					margin auto
					margin-bottom 20px
				
				h6
					opacity .6
					
				.content-wrapper
					text-align left
					display inline-block
					
					p
						width 100%
						margin-bottom 20px
				ul
					box-sizing border-box
					padding-left 30px
					list-style-type disc
					text-align left
					margin auto
		
		section.darker
			background #1c1c1c

		section#subscribe-section
			.section-wrapper
				@media(max-width: 500px)
					width 80%
					margin auto
				h3
					display block
					&::after
						display none
				ul
					display inline-block
					li
						text-align left
				p
					margin 30px auto
				input
					padding 15px 30px
					border 0
					border-radius 5px
					font-size 100%
					width 100%
					max-width 400px
					margin auto
					margin-bottom 30px
					box-sizing border-box
				.submit-btn
					background $maingradient
					width 150px
					margin auto
					padding 15px 0
					border-radius 100px
					cursor pointer
				.small-text
					font-size 80%
					margin 0 auto
					margin-top 20px
				.email
					margin 0 auto
		footer
			background #111
			text-align center
			padding 40px 0
			p 
				font-size 100%
				opacity .8
			.sm-wrapper
				margin 10px 0
				a
					height 40px
					width 40px
					background no-repeat center content-box
					background-size contain
					display inline-block
					padding 0 10px
					cursor pointer
					&:hover
						opacity .8
				#instagram
					background-image url('/icons/instagram-icon.png')
				#youtube
					background-image url('/icons/youtube-icon.png')
				#twitter
					background-image url('/icons/twitter-icon.png')
				#facebook
					background-image url('/icons/facebook-icon.png')