[data-page='messages']
	
	.main-content
		overflow hidden
		background $light-grey
		height calc(100vh - 79px)
		
		
		@import "elements/connections-menu"
		
		.flex-main
		
			display: flex
			@media(max-width 600px)
				display block
			.contacts
				height calc(100vh - 78px - 224px)
				width 250px
				display inline-block
				vertical-align top
				background $light-grey
				z-index 20
				overflow-y scroll
				box-shadow 0 0 5px rgba(black,.2)
				
				@media(max-width 700px)
					height calc(100vh - 78px - 154px)
					
				@media(max-width 600px)
					width initial
					display block
					overflow-y initial
				.contact
					padding 12px 5px
					background white
					border-bottom 1px solid $light-grey
					cursor pointer
					
					&.notafication
						background lighten($pink,10)
					
					&.active-chat
						background $lighter-grey
					.images
						width max-content
						margin auto
						padding-right 25px
						margin-bottom 10px
						.frame
							height 50px
							width 25px
							position relative
							display inline-block
							.image
								height 50px
								width 50px
								border-radius 50%
								background $purple
					h5.title
						font-size 14px
						font-weight bold
						color $grey
						text-align center
			@import "elements/chat"
			
			@media(max-width 600px)
				.chat
					display none
			