[data-page='requests']
	
	.main-content
		overflow auto
		background $light-grey
		min-height calc(100vh - 79px)
		
		@import "elements/connections-menu"
					
		section
			width 90%
			max-width 1090px
			margin auto
			margin-top 20px
				
			.title
				font-size 18px
				margin-bottom 10px
				
				@media(max-width 700px)
					font-size 15px
				
			.content
				position relative
				
				&:empty:after
					content 'Nothing here'
					color rgba(black, .3)
					font-size 17px
					position relative
				
				@import "elements/profilecard"
				

			