[data-page='signin']

	.main-content
		background $grey
		color white
		text-align center
		min-height 100vh
		box-sizing border-box
		padding-bottom 60px
		
		.biglogo
			padding 50px 0
		#signinform
			text-align center
			margin-bottom 40px
			.input-field
				display inline-block
				background linear-gradient(to right, $purple, $pink)
				position relative
				border-radius 1000px
				padding 1.5px
				margin-bottom 20px
				input
					width 400px
					padding 24px 28px
					border none
					border-radius 1000px
					background $grey
					color white
					box-sizing border-box
					font-size 110%
					font-weight lighter
					@media(max-width 600px)
						width 80vw
						padding 20px 28px
						font-size 100%
				label
					position absolute
					top 8px
					left 30px
					font-size 80%
					font-weight lighter
					opacity .7
					@media(max-width 600px)
						font-size 60%
						top 5px
			#signinbutton
				-webkit-appearance none
				font-size 130%
				border-radius 100px
				background linear-gradient(to right, $purple, $pink)
				padding 20px 0
				width 400px
				text-align center
				display inline-block
				cursor pointer
				@media(max-width 600px)
					width 80vw
					
		.signup-link-wrapper
			h6
				margin-bottom 5px
			h5
				a
					color $purple
					cursor pointer
					text-decoration none