[data-page='signup']
	
	.main-content
		background #252525
		color white
		text-align center
		min-height 100vh
		box-sizing border-box
		padding-bottom 60px
		img#icon
			width 150px
			padding 40px 0
			display inline-block
		#signupform
			text-align center
			.input-field
				display inline-block
				background linear-gradient(to right, #97A0D1, #D48F89)
				position relative
				border-radius 1000px
				padding 1.5px
				margin-bottom 20px
				input
					width 400px
					padding 24px 28px
					border none
					border-radius 1000px
					background #252525
					color white
					box-sizing border-box
					font-size 110%
					font-weight lighter
					@media(max-width 600px)
						width 80vw
						padding 20px 28px
						font-size 100%
				label
					position absolute
					top 8px
					left 30px
					font-size 80%
					font-weight lighter
					opacity .7
					@media(max-width 600px)
						font-size 60%
						top 5px
			#signupbutton
				font-size 130%
				border-radius 100px
				background linear-gradient(to right, #97A0D1, #D48F89)
				padding 20px 0
				width 400px
				text-align center
				display inline-block
				cursor pointer
				@media(max-width 600px)
					width 80vw