/Reoccuring styles

html, body
	height 100%

*
	margin 0
	padding 0
	font-family 'Lato', sans-serif

h2
	font-size 280%
	font-weight initial
	
	@media (max-width: 500px)
		font-size 120%
		
h3
	font-size 220%
	font-weight initial
	
h4
	font-size 150%
	font-weight initial
	
h6
	font-size 90%
	font-weight lighter
	
p
	font-size 120%
	font-weight lighter
	line-height 1.5
	
ul
	padding-left 30px
	li
		font-size 120%
		font-weight lighter
	
input:focus
	outline-width: 0
	
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
	border 1px solid white
	-webkit-text-fill-color white
	-webkit-box-shadow 0 0 0px 1000px #000 inset
	transition background-color 5000s ease-in-out 0s

button:focus
	filter: brightness(110%)

button, input[type="submit"], input[type="reset"]
	background none
	color inherit
	border none
	padding 0
	cursor pointer
	outline inherit

img
	user-select none
	-webkit-user-select none
	
.display-none
	display none !important


.loading-screen
	position fixed
	transform translateX(-50%)
	left 50%
	width 110%
	top 0
	height 100%
	z-index 100
	background-color white
	background-image url('/icons/loading-spinner.gif')
	background-size 40px 40px
	background-position 50% 40%
	background-repeat no-repeat
	
	&.short
		background-position 50% 100px
		
	&.blank
		background-image none
	
	&.dark-grey
		background-color #a4a4a7