//Main css file

@import 'base'
@import 'variables'

//Require stylus files for elements
@require 'elements/popUp.styl'
@require 'elements/logos.styl'
@require 'elements/main-style.styl'

//Require stylus files for pages

@require 'pages/home.styl'
@require 'pages/signup.styl'
@require 'pages/signin.styl'
@require 'pages/creator.styl'