//Declaring Stylus variables

//Import stylus extension nib
@import nib

//Function for creating font-faces
font-face-create(name, fileName, weight=normal, style=normal, ext="ttf")
	@font-face
		font-family name
		font-weight weight
		font-style style
		src unquote("url(/fonts/"+fileName+"."+ext+")")
		

$purple = #97A0D1
$pink = #D48F89
$light-grey = #DBDBDB
$team-grey = #3D3D3D
$grey = #383D41
$darkgrey = #303437

$maingradient = linear-gradient(to right, #97A0D1, #D48F89)