header.connections-menu
	a.option#friends(href='/friends')
		.icon
		p.title Friends
		.notafication.display-none
	a.option#messages(href='/messages')
		.icon
		p.title Messages
		//.notafication 1
	a.option#requests(href='/requests')
		.icon
		p.title Request
		.notafication.display-none

script.
	_(window.location.pathname.replace("/","")).classList.add("active")