header.connections-menu
	.option#friends
		.icon
		p.title Friends
		.notafication.display-none
	.option#messages
		.icon
		p.title Messages
		.notafication 1
	.option#requests
		.icon
		p.title Request
		.notafication.display-none