doctype html
html
	head
		title #{title}

		link(rel='stylesheet' type='text/css' href='/css/coat.css')

		script(src='/javascript/general.js')

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js")
		script.
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyCj-fO1ipuwOkbLCknKEwGne5ggonRTZqY",
				authDomain: "fleet-7cb48.firebaseapp.com",
				databaseURL: "https://fleet-7cb48.firebaseio.com",
				projectId: "fleet-7cb48",
				storageBucket: "fleet-7cb48.appspot.com",
				messagingSenderId: "462032697855"
			};
			firebase.initializeApp(config);

	body(data-page=dataPage)
		.main-content
			block mainContent