doctype html
html
	head
		title #{title}

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		link(rel='stylesheet' type='text/css' href='/css/coat.css')
		link(rel="shortcut icon" href="../icons/favicon.ico")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js")
		script.
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyCj-fO1ipuwOkbLCknKEwGne5ggonRTZqY",
				authDomain: "fleet-7cb48.firebaseapp.com",
				databaseURL: "https://fleet-7cb48.firebaseio.com",
				projectId: "fleet-7cb48",
				storageBucket: "fleet-7cb48.appspot.com",
				messagingSenderId: "462032697855"
			};
			firebase.initializeApp(config);

		script(src='/javascript/general.js')


	body(data-page=dataPage)
		block pageStatus

		if !signedOutPage
			header.signed-in
				a.small-logo(href='/explore')
				h1 <span>fleet</span>ofcreators
				#menu.menu-hidden
					#menu-icon(onclick='toggleMenu()')
						.menu-row
						.menu-row
						.menu-row

					.overlay(onclick='toggleMenu()')
					.menu
						a.menu-item(href='/explore') Explore
						a.menu-item(href='/friends') Connections
						a.menu-item(href='/messages') Messages
						a#profile.menu-item My Profile
						#sign-out.menu-item Sign Out

			.main-content
				block mainContent
		else
			.top-bar
				a.small-logo(href='/')
				.right-align
					a(href='/').item Home
					//- a(href='/about').item About
					a(href='/signin').item Sign in
					a(href='/signup').item.btn Sign up
			.main-content
				block mainContent

		script.
			var menuShown
			firebase.auth().onAuthStateChanged(function(user){
				if(user){
					_('profile').href = '/user/creator-' + user.uid
				}else{
					_('profile').addEventListener('click', () => { console.log('You don\'t seem to be signed in') })
				}
			})
			_('sign-out').addEventListener('click', () => {firebase.auth().signOut(); window.location.replace('/')})
			function toggleMenu(){
				if(!menuShown){
					_('menu').classList.add('menu-shown')
					_('menu').classList.remove('menu-hidden')
				}else if(menuShown){
					_('menu').classList.remove('menu-shown')
					_('menu').classList.add('menu-hidden')
				}
				menuShown = !menuShown
			}