extends ../index
block mainContent

	.profile-wrapper
		header
			.action-button.display-none#profile-action-button
			h2.name#user-name
			.image
		.profile-info
			p.description#user-description
			.location
				.location-symbol
				p.location-name#user-location
			.skills#user-skills
				h4.title Knowledge
				.wrapper
			.projects#user-projects
				h4.title Portfolio
				.wrapper


	script.
		var userId = subpage.replace('creator-','')
		var userEmail = ''
		var userData

		firebase.auth().onAuthStateChanged(function(user){

		//action-button -> edit or add friend
		firebase.database().ref('users/creators/' + userId).once("value", function(snapshot){
			userData = snapshot.val()
			userEmail = userData.email
			console.log(userData)

			document.getElementById('user-name').innerText = userData.firstname + ' ' + userData.lastname
			document.getElementById('user-description').innerText = userData.description
			document.getElementById('user-location').innerText = userData.city + ', ' + userData.country

			//render skills

			function renderSkill(title, isMainSkill){
				var skillDiv = document.createElement('div')
				skillDiv.innerText = title
				skillDiv.classList.add('skill')
				if(isMainSkill){skillDiv.classList.add('main-skill')}
				document.getElementById('user-skills').querySelector('.wrapper').appendChild(skillDiv)
			}

			if(userData.skills){
				firebase.database().ref('skills/').once("value", function(snapshot){
					Object.values(userData.skills).forEach(function(mainSkill, idx){
						renderSkill(snapshot.val()[Object.keys(userData.skills)[idx]]['name'], true)
						Object.keys(mainSkill).forEach(function(subSkill, idx2){
							renderSkill(Object.values(snapshot.val()[Object.keys(userData.skills)[idx]]['subSkills'])[idx2]['name'])
						})
					})
				})
			}
			if(snapshot.val().friends){
				if(snapshot.val().friends[user.uid]){
					document.getElementById('profile-action-button').innerText = 'Message'
					document.getElementById('profile-action-button').onclick = function(){
						window.location = '/messages'
					}
				}
			}

			//render Projects

			function renderProjects(title, description, link){
				if(link){
					var wrapperDiv = document.createElement('a')
					wrapperDiv.classList.add('link')
				}else{
					var wrapperDiv = document.createElement('div')
				}
				wrapperDiv.classList.add('project')
				document.getElementById('user-projects').querySelector('.wrapper').appendChild(wrapperDiv)

				var imageDiv = document.createElement('div')
				imageDiv.classList.add('image')
				wrapperDiv.appendChild(imageDiv)

				var contentDiv = document.createElement('div')
				contentDiv.classList.add('content')
				wrapperDiv.appendChild(contentDiv)

				var titleDiv = document.createElement('h5')
				titleDiv.classList.add('title')
				titleDiv.innerText = title
				contentDiv.appendChild(titleDiv)

				var descriptionDiv = document.createElement('p')
				descriptionDiv.classList.add('p-description')
				descriptionDiv.innerText = description
				contentDiv.appendChild(descriptionDiv)

				if(link){
					if(link.includes('//')){
						wrapperDiv.href = link
					}else{
						wrapperDiv.href = '//' + link
					}
					
				}
				
			}

			if(userData.projects){
				Object.values(userData.projects).forEach(function(project, idx){
					renderProjects(project.title, project.description, project.link)
				})
			}
		})
		
		if (user) {
			document.getElementById('profile-action-button').classList.remove('display-none')
			if(firebase.auth().currentUser.uid == userId){
				document.getElementById('profile-action-button').innerText = 'Edit Profile'
				document.getElementById('profile-action-button').onclick = function(){
					location.href='/editcreator'
				}
			}else{
				document.getElementById('profile-action-button').innerText = 'Add Friend'
				document.getElementById('profile-action-button').onclick = function(){
					firebase.database().ref('users/creators/' + userId + '/requests/' + user.uid).set({
						type: 'creator',
						uid: user.uid,
						date: (new Date()).getTime()
					}).then(function(){
						var currentUserName = ''
						firebase.database().ref('users/creators/' + user.uid + '/firstname').once("value", function(snapshotFirstname){

							currentUserName += snapshotFirstname.val()
							
							firebase.database().ref('users/creators/' + user.uid + '/lastname').once("value", function(snapshotLastname){

								currentUserName += ' ' + snapshotLastname.val()
								
								sendEmail(userEmail, 'Friend request from ' + currentUserName, 'Hi!<br><br>You have received a friend request from ' + currentUserName + '. Check out their profile and accept/deny the request on your "requests" page.')

							})

						})
						popUp('Request sent')
					})
				}
			}
		}
		});
		

		



		