extends ../index
block mainContent

	.profile-wrapper
		header
			.action-button.display-none#profile-action-button
			h2.name#user-name
			.image
		.profile-info
			p.description#user-description
			.location
				.location-symbol
				p.location-name#user-location
			.skills#user-skills
				h4.title Knowledge
				.wrapper
			.projects#user-projects
				h4.title Portfolio
				.wrapper


	script.
		var userId = subpage.replace('creator-','')

		//action-button -> edit or add friend
		firebase.database().ref('users/creators/' + userId).once("value", function(snapshot){
			var userData = snapshot.val()
			console.log(userData)

			document.getElementById('user-name').innerText = userData.firstname + ' ' + userData.lastname
			document.getElementById('user-description').innerText = userData.description
			document.getElementById('user-location').innerText = userData.city + ', ' + userData.country

			//render skills

			function renderSkill(title){
				var skillDiv = document.createElement('div')
				skillDiv.innerText = title
				skillDiv.classList.add('skill')
				document.getElementById('user-skills').querySelector('.wrapper').appendChild(skillDiv)
			}

			if(userData.skills){
				firebase.database().ref('skills/').once("value", function(snapshot){
					Object.values(userData.skills).forEach(function(mainSkill, idx){
						renderSkill(snapshot.val()[Object.keys(userData.skills)[idx]]['name'])
						Object.keys(mainSkill).forEach(function(subSkill, idx2){
							renderSkill(Object.values(snapshot.val()[Object.keys(userData.skills)[idx]]['subSkills'])[idx2]['name'])
						})
					})
				})
			}
			

			

			//render Projects

			function renderProjects(title, description, link){
				if(link){
					var wrapperDiv = document.createElement('a')
					wrapperDiv.classList.add('link')
				}else{
					var wrapperDiv = document.createElement('div')
				}
				wrapperDiv.classList.add('project')
				document.getElementById('user-projects').querySelector('.wrapper').appendChild(wrapperDiv)

				var imageDiv = document.createElement('div')
				imageDiv.classList.add('image')
				wrapperDiv.appendChild(imageDiv)

				var contentDiv = document.createElement('div')
				contentDiv.classList.add('content')
				wrapperDiv.appendChild(contentDiv)

				var titleDiv = document.createElement('h5')
				titleDiv.classList.add('title')
				titleDiv.innerText = title
				contentDiv.appendChild(titleDiv)

				var descriptionDiv = document.createElement('p')
				descriptionDiv.classList.add('p-description')
				descriptionDiv.innerText = description
				contentDiv.appendChild(descriptionDiv)

				if(link){
					wrapperDiv.href = link
				}
				
			}

			if(userData.projects){
				Object.values(userData.projects).forEach(function(project, idx){
					renderProjects(project.title, project.description, project.link)
				})
			}
		})
		firebase.auth().onAuthStateChanged(function(user){
			if (user) {
				document.getElementById('profile-action-button').classList.remove('display-none')
				if(firebase.auth().currentUser.uid == userId){
					document.getElementById('profile-action-button').classList.add('edit')
					document.getElementById('profile-action-button').onclick = function(){
						location.href='/editcreator'
					}
				}else{
					document.getElementById('profile-action-button').classList.add('add-friend')
					document.getElementById('profile-action-button').onclick = function(){
						firebase.database().ref('users/creators/' + userId + '/requests/' + user.uid).set({
							type: 'creator',
							uid: user.uid,
							date: (new Date()).getTime()
						}).then(function(){
							popUp('Request sent')
						})
					}
				}
			}
		});
		

		



		