extends ../index

block mainContent
	section.upper-section
		.search-field#tags
			input#tagsInput(placeholder='Search by skills')
		.search-field#people
			input#peopleInput(placeholder='Search by name')
		.search-field#groups
			input#groupsInput(placeholder='Search groups')
	section.lower-section
		h3 Explore
		#search-results

	script.
		onLoad(function(){
			peopleInput = document.querySelector('#peopleInput')

			peopleInput.addEventListener('keypress', function(){
				_('search-results').innerHTML = ''
				var searchString = peopleInput.value
				console.log(searchString)
				dbRef('userList/creators/').orderByChild('fullname').startAt(searchString).once('value', function(snapshot){
					snapshot.forEach(function(user){
						console.log(user.val())
						createCard(user.val(), '#search-results')
					})
				})
			})
		})