extends ../index
block mainContent

	header
		.option#friends
			.icon
			p.title Friends
			.notafication.display-none
		.option#messages
			.icon
			p.title Messages
			.notafication 1
		.option#requests
			.icon
			p.title Request
			.notafication.display-none
	section
		h5.title Teams
		.content
			.item
				.images
					.frame
						.image
					.frame
						.image
					.frame
						.image
				h5.title Filmteamet
				p.description I have worked for organizations to develop applications, make graphic designs, produce and edit films, as well making similar content for my own.

			.item
				.images
					.frame
						.image
					.frame
						.image
					.frame
						.image
				h5.title Filmteamet
				p.description I have worked for organizations to develop applications, make graphic designs, produce and edit films, as well making similar content for my own.
				
	section
		h5.title Friends
		.content
			.item
				.images
					.frame
						.image
				h5.title Filippa Kindborg
				p.description I have worked for organizations to develop applications, make graphic designs, produce and edit films, as well making similar content for my own.


	script.
		
		