extends ../index
block mainContent

	include ../elements/connections-menu.pug

	.loading-screen
	
	section#teams
		h5.title Teams
		.content
			.add-card(onclick="document.cookie = 'newTeam=true; expires=Thu, 18 Dec 2029 12:00:00 UTC';window.location='/editteam/'+userId+(new Date()).getTime()")
			//- .item
			//- 	.images
			//- 		.frame
			//- 			.image
			//- 		.frame
			//- 			.image
			//- 		.frame
			//- 			.image
			//- 	.text-wrapper
			//- 		h5.title Filmteamet
			//- 		p.description I have worked for organizations to develop applications, make graphic designs, produce and edit films, as well making similar content for my own.

			//- .item
			//- 	.images
			//- 		.frame
			//- 			.image
			//- 		.frame
			//- 			.image
			//- 		.frame
			//- 			.image
			//- 	.text-wrapper
			//- 		h5.title Filmteamet
			//- 		p.description I have worked for organizations to develop applications, make graphic designs, produce and edit films, as well making similar content for my own.
				
	section#creator-friends
		h5.title Friends
		.content#friends-content
			//- .item
			//- 	.images
			//- 		.frame
			//- 			.image
			//- 	.text-wrapper
			//- 		h5.title Filippa Kindborg
			//- 		p.description I have worked for organizations to develop applications, make graphic designs, produce and edit films, as well making similar content for my own.


	script.
		var userId
		firebase.auth().onAuthStateChanged(function(user){
		userId = user.uid

		firebase.database().ref('users/creators/' + userId + '/friends').orderByChild('date').once("value", function(snapshot){

			snapshot.forEach(function(friend){
				firebase.database().ref('users/creators/' + friend.key).once("value", function(snapshot2){
					var creator = snapshot2.val()

					createCard(creator, '#friends-content')					

					//- var itemDiv = document.createElement('a')
					//- itemDiv.href = '/user/creator-' + friend.key
					//- itemDiv.classList.add('item')
					//- document.querySelector('#creator-friends').querySelector('.content').appendChild(itemDiv)

					//- var textWrapperDiv = document.createElement('div')
					//- textWrapperDiv.classList.add('text-wrapper')
					//- itemDiv.appendChild(textWrapperDiv)

					//- var titleDiv = document.createElement('div')
					//- titleDiv.classList.add('title')
					//- titleDiv.innerText = creator.firstname + ' ' + creator.lastname
					//- textWrapperDiv.appendChild(titleDiv)

					//- var descriptionDiv = document.createElement('div')
					//- descriptionDiv.classList.add('description')
					//- descriptionDiv.innerText = creator.description || ''
					//- textWrapperDiv.appendChild(descriptionDiv)
				})
			})
			document.querySelector('.loading-screen').classList.add('display-none')
		})

		firebase.database().ref('users/creators/' + userId + '/teams').orderByChild('date').once("value", function(snapshot){
			console.log(snapshot.val())

			snapshot.forEach(function(teamId){
				firebase.database().ref('teams/' + teamId.key).once("value", function(snapshot2){
					var team = snapshot2.val()

					var itemDiv = document.createElement('a')
					itemDiv.href = '/team/' + teamId.key
					itemDiv.classList.add('item')
					document.querySelector('#teams').querySelector('.content').appendChild(itemDiv)

					var textWrapperDiv = document.createElement('div')
					textWrapperDiv.classList.add('text-wrapper')
					itemDiv.appendChild(textWrapperDiv)

					var titleDiv = document.createElement('div')
					titleDiv.classList.add('title')
					titleDiv.innerText = team['name']
					textWrapperDiv.appendChild(titleDiv)

					var descriptionDiv = document.createElement('div')
					descriptionDiv.classList.add('description')
					descriptionDiv.innerText = ''
					textWrapperDiv.appendChild(descriptionDiv)
					Object.keys(team.members).forEach(function(memberId, idx){
						firebase.database().ref('users/creators/' + memberId + '/firstname').once("value", function(snapshot2){
							if(idx != 0){descriptionDiv.innerText += ', ' + snapshot2.val()}else{
								descriptionDiv.innerText += snapshot2.val()
							}
						})
					})
					
				})
			})
		})

		})
		
		