extends ../index
block mainContent

	include ../elements/connections-menu.pug

	
	.contacts
	.chat
		.messages
		.write-input
			.message-input(contenteditable='true' placeholder='Write a message here...')
			.send-btn Send