extends ../index
block mainContent

	include ../elements/connections-menu.pug

	.loading-screen

	.flex-main

		.contacts
			//- .contact
			//- 	.images
			//- 		.frame
			//- 			.image
			//- 		.frame
			//- 			.image
			//- 		.frame
			//- 			.image
			//- 	h5.title Filmteamet
		.chat.display-none#chatField
			.messages#messagesField
				//- .message
				//- 	.image
					
				//- 	.content
				//- 		p.sender Erik Enger Karlson
				//- 		p.text Hej hej på er whoot is ouppp
				//- 		p.date

			.write-input
				.message-input#writtenmessage(contenteditable='true' placeholder='Write a message here...')
				.send-btn(onclick='sendMessage()') Send

	script(src='/javascript/renderchat.js')
	script.
		var currentMessagePull
		var currentChat
		var currentChatName
		var user 
		var firstChat = true
		var userNames = {}
		var firstChatId

		firebase.auth().onAuthStateChanged(function(currUser){
		user = currUser
		

		firebase.database().ref('users/creators/' + user.uid + '/chats').orderByValue().once("value", function(snapshot){

			var myChats = []

			snapshot.forEach(function(chat){
				myChats.push(chat.key)
			})

			myChats.reverse()

			myChats.forEach(function(myChatId, idx){
				firebase.database().ref('chats/' + myChatId + '/members').once("value", function(snapshotMembers){
					if(Object.keys(snapshotMembers.val()).length < 2){return}

					var itemDiv = document.createElement('div')
					itemDiv.classList.add('contact')
					itemDiv.id = myChatId

					itemDiv.onclick = function(){
						if(window.innerWidth>600){
							document.querySelector('.active-chat').classList.remove('active-chat')
							_(itemDiv.id).classList.add('active-chat')
							updateChat(itemDiv.id)
						}else{
							document.cookie = "currentChatName=" + _(itemDiv.id).querySelector('.title').innerText + "; expires=Thu, 18 Dec 2029 12:00:00 UTC";
							window.location = '/messagechat/' + itemDiv.id
						}
						
					}
					document.querySelector('.contacts').appendChild(itemDiv)

					firebase.database().ref('chats/' + myChatId + '/latestAction').on("value", function(snapshotDate){
						if(snapshotDate.val() > snapshot.val()[myChatId]){
							itemDiv.classList.add('notafication')
						}else{
							itemDiv.classList.remove('notafication')
						}
					})

					var titleH5 = document.createElement('h5')
					titleH5.classList.add('title')
					titleH5.innerText = ''
					Object.keys(snapshotMembers.val()).forEach(function(memberId, idx){
						var currentUserName = ''

						firebase.database().ref('teams/' + myChatId + '/name').once("value", function(snapshotName){

							if(snapshotName.val()){
								titleH5.innerText = snapshotName.val()
								currentChatName = snapshotName.val()
								return
							}
						
							firebase.database().ref('users/creators/' + memberId + '/firstname').once("value", function(snapshotFirstname){
								if(memberId != user.uid){
									if((idx != 0)&&(Object.keys(snapshotMembers.val()).length != 2)){
										titleH5.innerText += ',' + ' ' + snapshotFirstname.val()
									}else{
										titleH5.innerText += snapshotFirstname.val()
									}							
								}

								currentUserName = snapshotFirstname.val()
								
							})
							firebase.database().ref('users/creators/' + memberId + '/lastname').once("value", function(snapshotLastname){
								if(memberId != user.uid){
									titleH5.innerText += ' ' + snapshotLastname.val()
								}
								currentUserName += ' ' + snapshotLastname.val()
								userNames[memberId] = currentUserName
								document.cookie = "userNames=" + JSON.stringify(userNames) + "; expires=Thu, 18 Dec 2029 12:00:00 UTC";

								currentChatName = titleH5.innerText
							}).then(function(){
								if(memberId == user.uid){idx = idx-1}
							})
						})

					})
					itemDiv.appendChild(titleH5)

					if(idx == 0 && window.innerWidth>600){_(itemDiv.id).classList.add('active-chat');updateChat(myChatId)}
					document.querySelector('.loading-screen').classList.add('display-none')
				})
			})

				//- firebase.database().ref('users/creators/' + user.uid).once("value", function(snapshot2){
				//- 	var creator = snapshot2.val()

				//- 	var itemDiv = document.createElement('div')
				//- 	itemDiv.classList.add('item')
				//- 	document.querySelector('#friends-requests').querySelector('.content').appendChild(itemDiv)

				//- 	var textWrapperDiv = document.createElement('div')
				//- 	textWrapperDiv.classList.add('text-wrapper')
				//- 	itemDiv.appendChild(textWrapperDiv)

				//- 	var titleDiv = document.createElement('a')
				//- 	titleDiv.classList.add('title')
				//- 	titleDiv.innerText = creator.firstname + ' ' + creator.lastname
				//- 	titleDiv.href = '/user/creator-' + creator.uid
				//- 	textWrapperDiv.appendChild(titleDiv)

				//- 	var choisesDiv = document.createElement('div')
				//- 	choisesDiv.classList.add('choises-div')
				//- 	itemDiv.appendChild(choisesDiv)

				//- 	var acceptDiv = document.createElement('div')
				//- 	acceptDiv.classList.add('accept')
				//- 	acceptDiv.classList.add('choise')
				//- 	acceptDiv.onclick = function(event){

				//- 		var milliSec = (new Date()).getTime()

				//- 		firebase.database().ref('users/creators/' + creator.uid + '/friends/' + user.uid).set(milliSec)
				//- 		firebase.database().ref('users/creators/' + user.uid + '/friends/' + creator.uid).set(milliSec)
				//- 		firebase.database().ref('users/creators/' + user.uid + '/requests/' + creator.uid).remove().then(function(){
				//- 			popUp('Friend added, send a message!')
				//- 			event.target.parentElement.parentElement.remove()
				//- 		})

				//- 		var chatId = milliSec + user.uid

				//- 		firebase.database().ref('chats/' + chatId).set({
				//- 			members: {
				//- 				[user.uid]: milliSec,
				//- 				[creator.uid]: milliSec
				//- 			},
				//- 			latestAction: milliSec
				//- 		})

				//- 		firebase.database().ref('users/creators/' + user.uid + '/chats/' + chatId).set(milliSec)
				//- 		firebase.database().ref('users/creators/' + creator.uid + '/chats/' + chatId).set(milliSec)

				//- 	}
				//- 	choisesDiv.appendChild(acceptDiv)

				//- 	var denyDiv = document.createElement('div')
				//- 	denyDiv.classList.add('deny')
				//- 	denyDiv.classList.add('choise')
				//- 	denyDiv.onclick = function(event){

				//- 		firebase.database().ref('users/creators/' + user.uid + '/requests/' + creator.uid).remove().then(function(){
				//- 			popUp('Friend added, send a message!')
				//- 			event.target.parentElement.parentElement.remove()
				//- 		})
				//- 	}
				//- 	choisesDiv.appendChild(denyDiv)
				//- })
		})

		})

	