extends ../index
block mainContent

	include ../elements/connections-menu.pug

	
	section#teams-requests
		h5.title Teams
		.content
			//- .item
			//- 	.images
			//- 		.frame
			//- 			.image
			//- 		.frame
			//- 			.image
			//- 		.frame
			//- 			.image
			//- 	.text-wrapper
			//- 		h5.title Filmteamet
			//- 		p.description I have worked for organizations to develop applications, make graphic designs, produce and edit films, as well making similar content for my own.

			//- .item
			//- 	.images
			//- 		.frame
			//- 			.image
			//- 		.frame
			//- 			.image
			//- 		.frame
			//- 			.image
			//- 	.text-wrapper
			//- 		h5.title Filmteamet
			//- 		p.description I have worked for organizations to develop applications, make graphic designs, produce and edit films, as well making similar content for my own.
				
	section#friends-requests
		h5.title Friends
		.content
			//- .item
			//- 	.images
			//- 		.frame
			//- 			.image
			//- 	.text-wrapper
			//- 		h5.title Filippa Kindborg
			//- 		p.description I have worked for organizations to develop applications, make graphic designs, produce and edit films, as well making similar content for my own.


	script.
		firebase.auth().onAuthStateChanged(function(user){

		firebase.database().ref('users/creators/' + user.uid + '/requests').orderByChild('date').once("value", function(snapshot){

			snapshot.forEach(function(request){
				if(request.val().type == 'creator'){
					firebase.database().ref('users/creators/' + request.val().uid).once("value", function(snapshot2){
						var creator = snapshot2.val()

						var itemDiv = document.createElement('div')
						itemDiv.classList.add('item')
						document.querySelector('#friends-requests').querySelector('.content').appendChild(itemDiv)

						var textWrapperDiv = document.createElement('div')
						textWrapperDiv.classList.add('text-wrapper')
						itemDiv.appendChild(textWrapperDiv)

						var titleDiv = document.createElement('a')
						titleDiv.classList.add('title')
						titleDiv.innerText = creator.firstname + ' ' + creator.lastname
						titleDiv.href = '/user/creator-' + creator.uid
						textWrapperDiv.appendChild(titleDiv)

						var choisesDiv = document.createElement('div')
						choisesDiv.classList.add('choises-div')
						textWrapperDiv.appendChild(choisesDiv)

						var acceptDiv = document.createElement('div')
						acceptDiv.classList.add('accept')
						acceptDiv.classList.add('choise')
						acceptDiv.onclick = function(event){

							var milliSec = (new Date()).getTime()

							firebase.database().ref('users/creators/' + creator.uid + '/friends/' + user.uid).set(milliSec)
							firebase.database().ref('users/creators/' + user.uid + '/friends/' + creator.uid).set(milliSec)
							firebase.database().ref('users/creators/' + user.uid + '/requests/' + creator.uid).remove().then(function(){
								firebase.database().ref('users/creators/' + user.uid + '/firstname').orderByChild('date').once("value", function(snapshotName){

									var userName = snapshotName.val()

									firebase.database().ref('users/creators/' + user.uid + '/lastname').orderByChild('date').once("value", function(snapshotName2){

										userName += ' ' + snapshotName2.val()										

										sendEmail(creator.email, userName + ' has accepted your friend request!', 'Hi!<br><br>' + userName + ' has accepted you friend request, send them a message and check out their profile.')
									})
								})
								popUp('Friend added, send a message!')
								event.target.parentElement.parentElement.parentElement.remove()
							})

							var chatId = milliSec + user.uid

							firebase.database().ref('chats/' + chatId).set({
								members: {
									[user.uid]: milliSec,
									[creator.uid]: milliSec
								},
								latestAction: milliSec
							})

							firebase.database().ref('users/creators/' + user.uid + '/chats/' + chatId).set(milliSec)
							firebase.database().ref('users/creators/' + creator.uid + '/chats/' + chatId).set(milliSec)

						}
						choisesDiv.appendChild(acceptDiv)

						var denyDiv = document.createElement('div')
						denyDiv.classList.add('deny')
						denyDiv.classList.add('choise')
						denyDiv.onclick = function(event){

							firebase.database().ref('users/creators/' + user.uid + '/requests/' + creator.uid).remove().then(function(){
								popUp('Friend rejected')
								event.target.parentElement.parentElement.parentElement.remove()
							})
						}
						choisesDiv.appendChild(denyDiv)
					})
				}else if(request.val().type == 'team'){

					firebase.database().ref('teams/' + request.val().uid).once("value", function(snapshot2){
						var team = snapshot2.val()
						var teamId = request.val().uid

						if(!team){return}

						var itemDiv = document.createElement('div')
						itemDiv.classList.add('item')
						document.querySelector('#teams-requests').querySelector('.content').appendChild(itemDiv)

						var textWrapperDiv = document.createElement('div')
						textWrapperDiv.classList.add('text-wrapper')
						itemDiv.appendChild(textWrapperDiv)

						var titleDiv = document.createElement('a')
						titleDiv.classList.add('title')
						titleDiv.innerText = team.name
						titleDiv.href = '/team/' + snapshot2.key
						textWrapperDiv.appendChild(titleDiv)

						var choisesDiv = document.createElement('div')
						choisesDiv.classList.add('choises-div')
						textWrapperDiv.appendChild(choisesDiv)

						var acceptDiv = document.createElement('div')
						acceptDiv.classList.add('accept')
						acceptDiv.classList.add('choise')
						acceptDiv.onclick = function(event){

							var milliSec = (new Date()).getTime()

							firebase.database().ref('teams/' + teamId + '/members/' + user.uid).set(milliSec)
							firebase.database().ref('chats/' + teamId + '/members/' + user.uid).set(milliSec)

							firebase.database().ref('users/creators/' + user.uid + '/requests/' + snapshot2.key).remove().then(function(){
								popUp('Team joined, send a message!')

								firebase.database().ref('users/creators/' + user.uid + '/firstname').orderByChild('date').once("value", function(snapshotName){

									var userName = snapshotName.val()

									firebase.database().ref('users/creators/' + user.uid + '/lastname').orderByChild('date').once("value", function(snapshotName2){

										userName += ' ' + snapshotName2.val()										

										Object.keys(team.members).forEach(function(memberId){

											firebase.database().ref('users/creators/' + memberId + '/email').once("value", function(snapshot3){
												sendEmail(snapshot3.val(), userName + ' has joined ' + team.name, 'Hi!<br><br>' + userName + 'has joined ' + team.name + '. Say hi to them in the team chat and check out their profile!')
											})
										})
									})
								})
								event.target.parentElement.parentElement.parentElement.remove()
							})

							firebase.database().ref('users/creators/' + user.uid + '/chats/' + teamId).set(milliSec)
							firebase.database().ref('users/creators/' + user.uid + '/teams/' + teamId).set(milliSec)
						}
						choisesDiv.appendChild(acceptDiv)

						var denyDiv = document.createElement('div')
						denyDiv.classList.add('deny')
						denyDiv.classList.add('choise')
						denyDiv.onclick = function(event){

							firebase.database().ref('users/teams/' + user.uid + '/requests/' + snapshot2.key).remove().then(function(){
								popUp('Team denied')
								event.target.parentElement.parentElement.parentElement.remove()
							})
						}
						choisesDiv.appendChild(denyDiv)
					})
				}
			})
		})

		})
		