extends ../index.pug
block mainContent

	img#icon(src='../icons/sign-up-icon.png')

	#signupform
		.input-field
			input(type='text' name='firstname' id='firstname' autocomplete='off')
			label(for='firstname') First Name
		br
		.input-field
			input(type='text' name='lastname' id='lastname' autocomplete='off')
			label(for='lastname') Last Name
		br
		.input-field
			input(type='email' name='email' id='email' autocomplete='off')
			label(for='email') Email
		br
		.input-field
			input(type='password' name='password' id='password' autocomplete='off')
			label(for='password') Password
		br
		#signupbutton(onclick='createUser()') Sign up

	script.
		function createUser(){
			var firstname = _('firstname').value
			var lastname = _('lastname').value
			var email = _('email').value
			var password = _('password').value
		
			switch(''){
				case firstname:
					popUp('Please enter your name.')
					return false
					break
				case lastname:
					popUp('Please enter your last name')
					return false
					break
			}
			firebase.auth().createUserWithEmailAndPassword(email, password).then(function(){
				firebase.database().ref('users/creators/' + currentUser().uid).set({
					firstname: firstname,
					lastname: lastname,
					email: email,
					uid: currentUser().uid
				})
			}).catch(function(error){
				const errorCode = error.code
				const errorMessage = error.message
				console.log(errorCode + ': ' + errorMessage)
				
				switch(errorCode){
					case 'auth/email-already-in-use':
						popUp('There already exists an account with this email.')
						break
					case 'auth/invalid-email':
						popUp('The email seems to be invalid. Please check if you entered it correctly.')
						break
					case 'auth/weak-password':
						popUp('Your password needs to be 6 characters or longer!')
				}
			})
		}
