extends ../index.pug
block pageStatus
	- var signedOutPage = true;
	
block mainContent

	img#icon(src='../icons/sign-up-icon.png')

	form#signupform
		.input-field
			input(type='text' name='firstname' id='firstname')
			label(for='firstname') First Name
		br
		.input-field
			input(type='text' name='lastname' id='lastname')
			label(for='lastname') Last Name
		br
		.input-field
			input(type='email' name='email' id='email')
			label(for='email') Email
		br
		.input-field
			input(type='password' name='password' id='password')
			label(for='password') Password
		br
		button#signupbutton Sign up

	.signup-link-wrapper
		h6 Already have an account?
		h4 Click <a href='/signin'>here</a> to sign in!

	script.
		signupform.addEventListener('submit', createUser)
		function createUser(e){
			e.preventDefault()		
			switch(''){
				case signupform.firstname.value:
					popUp('Please enter your name.')
					return false
					break
				case signupform.lastname.value:
					popUp('Please enter your last name')
					return false
					break
			}
			firebase.auth().createUserWithEmailAndPassword(signupform.email.value, signupform.password.value).then(function(){
				firstName = signupform.firstname.value
				lastName = signupform.lastname.value
				fullName = firstName + ' ' + lastName
				dividedFullName = firstName + ' ' + lastName
				var dbName = dividedFullName.toLowerCase().replace(/ /g, '-')
				firebase.database().ref('users/creators/' + currentUser().uid).set({
					firstname: firstName,
					lastname: lastName,
					fullname: fullName,
					email: signupform.email.value,
					uid: currentUser().uid,
					photoURL: null
				}).then(function(){
					document.cookie = "newUser=true; expires=Thu, 18 Dec 2029 12:00:00 UTC";
					window.location.replace('/editcreator')
				})
				dbRef('userList/creators/' + dbName).set({
					uid: currentUser().uid,
					fullname: fullName,

				})
			}).catch(function(error){
				const errorCode = error.code
				const errorMessage = error.message
				console.log(errorCode + ': ' + errorMessage)
				
				switch(errorCode){
					case 'auth/email-already-in-use':
						popUp('There already exists an account with this email.')
						break
					case 'auth/invalid-email':
						popUp('The email seems to be invalid. Please check if you entered it correctly.')
						break
					case 'auth/weak-password':
						popUp('Your password needs to be 6 characters or longer!')
				}
			})
		}
