extends ../index.pug
block mainContent

	img.icon

	form(action='/create-user/creator' method='POST' id='signup-form')
		div.data
			input(type='text' name='firstname' id='firstname')
			label(for='firstname') Name
		div.data
			input(type='text' name='lastname' id='lastname')
			label(for='lastname') Last Name
		div.data
			input(type='email' name='email' id='email')
			label(for='email') Email
		div.data
			input(type='password' name='password' id='password')
			label(for='password') Password
		input(type='submit')