extends ../index
block mainContent
	header
		video.video-background(poster='images/logo.png' playbackRate='3.0' autoplay loop muted)
			source(src='../videos/fleet.mp4' type="video/mp4")
		.logo
		h3.title Fleet is a platform for young creators to meet, collaborate and develop.
		.signup-wrapper
			input(type='email' placeholder='Email')#email-list-input
			.submit-btn(onclick='addToEmailList()') Subscribe
		.status Coming soon
	section
		h3 What we do
		p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.