extends ../index
block mainContent
	header
		video.video-background(poster='images/logo.png' playbackRate='3.0' autoplay loop muted)
			source(src='../videos/fleet.mp4' type="video/mp4")
		.biglogo
		h2.title Fleet is a platform for <span>young creators</span> to meet, collaborate and develop.
		.signup-wrapper
			input(type='email' placeholder='Email')#email-list-input
			.submit-btn(onclick='addToEmailList()') Subscribe
		.status Coming soon
		a(href='https://www.youtube.com/watch?v=XrLtvg7xK0w').video-link
			img(src='../images/youtube-logo.png')
			div Watch our promo here
	section.darker
		h3#vision Our vision
		p The Internet has created a world of possibilities to develop new creative skills for youths. Us at Fleet want to take it to the next level. We want to help young creators come together to create as a unit. Our mission is to take you through the first steps of you career. 
	section
		div#images
			img#plx-img(src='../images/search-page-design.png')
			//- img.plx-img(src='../images/search-page-design.png')

		article
			h6 Build your teams
			h3 Meet other creators
				.divider
			.content-wrapper
				p Search, find and form teams with other creators from all skillsets.
				ul
					li Find other young creators.
					li Build perfect teams with people from all creative areas.
					li Search by category, name or already existing groups.
					li Join and create groups.
	script.
		function addToEmailList(email){
			var email = document.querySelector('#email-list-input').value
			if(!validateEmail(email)){
				alert('Felaktig email')
				return
			}
			$.getJSON("http://freegeoip.net/json/", function (data) {
				var country = data.country_name
				var region = data.region_name

				firebase.database().ref('emailList/' + email.replace(/\./g, '%2E')).set({
					email: email,
					date: (new Date()).getTime(),
					country: country,
					region: region,
				})
				popUp('Thank you, you will hear from us soon!')
				document.querySelector('#email-list-input').value = ''
			});
		}