.chat
	display inline-block
	//width calc(100vw - 251px)
	position relative
	height calc(100vh - 78px - 224px)
	overflow-y scroll
	flex-grow 1
	max-width calc(100vw - 250px)
	
	@media(max-width 700px)
		height calc(100vh - 78px - 154px)
							
	.messages
		min-height calc(100% - 44px)
		padding-bottom 10px
		box-sizing border-box
		
		.load-btn
			text-align center
			padding 35px 0
			font-weight bold
			opacity .7
			cursor pointer
		.message
			padding 0 25px
			padding-top 15px
			
			&.mine
				text-align right
			
			.image
				height 35px
				width 35px
				border-radius 50%
				background-size cover
				background-position center center
				display inline-block
				background $purple
				vertical-align top
				margin-top 25px
				
			.content
				margin 0 10px
				display inline-block
				p.sender
					font-weight bold
					color rgba(black,.5)
					margin-bottom 3px
					font-size 13px
					
				p.text
					padding 4px 11px 7px
					font-size 16px
					border-radius 4px
					background rgba(black,.06)
					color black
					text-align left
					display inline-block
				p.date
					color rgba(black,.7)
					margin-top 1px
					font-size 12px
	.write-input
		bottom 0
		width 100%
		min-height 20px
		font-size 20px
		padding-top 7px
		padding-bottom 13px
		box-shadow 0 0 5px rgba(black,.2)
		background white
		*
			vertical-align top
			display inline-block
		.message-input
			pointer text
			font-size 20px
			width calc(100% - 20px - 35px - 20px*2)
			padding-left 20px
			
			&:empty:before
				content attr(placeholder)
				color rgba(black, .6)
				font-size 19px
		.send-btn
			font-weight bold
			color #5F9F9F
			width 35px
			padding 0 20px
			cursor pointer