.big-logo
	width 70px
	height 70px
	background url('../images/logo.png')
	background-size contain
	background-position center
	background-repeat no-repeat
	margin auto
	
.small-logo
	width 30px
	height 30px
	background url('../images/logo.png')
	background-size contain
	background-position center
	background-repeat no-repeat