.skill
	background linear-gradient(to right, #D48F89, #d5bc76)
	padding 15px 0
	width 160px
	display inline-block
	margin 7px
	border-radius 8px
	box-shadow -2px 5px 15px rgba(black,.15)
	text-align center
	width: calc(33% - 14px);
	color white
	
	input
		display none
	
	@media(max-width 500px)
		width: calc(50% - 14px);
	
	&.main-skill
		background linear-gradient(to right, #97A0D1, #D48F89)
	
	*
		display inline-block
	.checkmark
		margin-right 5px
		overflow hidden
		border-radius 4px
	.title
		color white
		font-size 100%
	